<table class='table table-bordered table-striped table-condensed table-responsive' id='langsTable'>
  <caption class="text-center">Snippet table for single language <%= data.title %></caption>
  <thead>
    <tr>
      <td><strong>Snippet</strong></td>
      <td><strong>Description</strong></td>
      <td><strong>Vars</strong></td>
      <td><strong>Warning</strong></td>
      <td><strong>Actions</strong></td>
    </tr>
  </thead>
  <tbody>
    <% data.snippets.forEach(function(snippetObj) { %>
      <tr>
        <td><%= snippetObj.snippet %></td>
        <td><%= snippetObj.description %></td>
        <td><span class="link" id="vars" role="button">
          <%= snippetObj.vars ? snippetObj.vars.length : 0 %>
        </span></td>
        <td><%= snippetObj.warning %></td>
        <td><span class="link" id="vars" role="button">Custom snippet</span></td>
      </tr>
    <% }) %>
  </tbody>
</table>